body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(255, 255, 255);
    color: #ff0000;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.logo img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.logo-title {
    font-size: 1.5rem;
}

.search-bar {
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.search-bar input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    flex: 1;
}

.search-bar button {
    padding: 10px 15px;
    background-color: rgb(255, 255, 255);
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

h1 {
    margin: 0;
}

.video-container {
    margin: 20px auto;
    text-align: center;
}

.avatar-bar {
    display: flex;
    align-items: center;
    margin: 20px;
}

.avatar-bar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}
.video-info, .comments {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}



.comment {
    display: flex;
    margin-bottom: 10px;
}


.comment-details {
    flex: 1;
}

h2, h3 {
    margin: 0;
}

iframe {
    max-width: 100%;
}




